header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf6f5ff;
  padding: 20px;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.app {
  display: flex;
  align-items: center;
}
img {
  width: 80px;
  margin: 10px;
}

.modeContainer {
  width: 80px;
  height: 30px;
  background-color: aquamarine;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.circleLight {
  position: absolute;
  left: 0;
  transition-duration: 500ms;
  z-index: 1;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.circleDark {
  position: absolute;
  right: 0;
  transition-duration: 500ms;
  z-index: 1;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: wheat;
  margin: 2px;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.light {
  position: absolute;
  left: 8px;
}
.dark {
  position: absolute;
  right: 8px;
}
