* {
  box-sizing: border-box;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  margin-top: 10px;
}
.app {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(147, 149, 161, 0.5);
  transition-duration: 0.5s;
}
.app:hover {
  background-color: rgb(147, 149, 161, 0.7);
}
.app h2 {
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
}
.logo {
  width: 80px;
  margin: 10px;
  color: white;
}
