.NextDaysWeatherContainer {
  padding: 10px;
  background-color: #432a80;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #fbeaeb;
}
.daysWeatherContainer {
  width: 100%;
  height: 35rem;
  border-radius: 20px;
  padding: 10px;
}
