.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageContainer {
  background-color: rgb(0, 0, 0, 0.5);
  width: 55rem;
  height: 100vh;
}

.formContainer {
  background-color: rgba(0, 0, 0, 0.4);
  width: 25rem;
  height: 100vh;
}
.image {
  position: absolute;
  width: 80rem;
  height: 100vh;
  z-index: -2;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.textField {
  width: 20rem;
  background-color: rgb(128, 128, 128, 0.5);
  border-radius: 5px;
}
.fromContainerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-top: 70px;
}
.fromContainerDiv .weatherDetails {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}

.nightPara {
  color: rgb(133, 133, 133);
  margin-top: 20px;
}
.morningPara {
  color: rgb(18, 6, 46);
  margin-top: 20px;
}
.dayMode {
  width: 100px;
  height: 50px;
  background-color: rgb(182, 182, 182);
  margin: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}
.dayMode p {
  color: rgb(34, 34, 34);
  margin-left: 10px;
  font-weight: bold;
}
.cityContainer {
  width: 150px;
  height: 50px;
  background-color: rgb(182, 182, 182);
  margin: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}
.cityContainer p {
  color: rgb(34, 34, 34);
  margin-left: 10px;
  font-weight: bold;
}
