.weatherHourlyCart {
  display: flex;
  flex-direction: column;
  background-color: rgba(30, 17, 43, 0.3);
  width: 100px;
  height: 120px;
  margin: 3px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.weatherHourlyCart img {
  width: 50px;
  height: 50px;
}
.weatherHourlyCart p {
  color: white;
}
.weatherHourlyCart:hover {
  background-color: rgba(182, 123, 240);
  box-shadow: 0 8px 20px 0px rgba(182, 123, 240);
}
